*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida sans Unicode', 'Lucida Grande', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%
}
nav{
    width: 100%;
    height: 70px;
    padding: 0px 70px;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 0px 5px grey;
}
.logo{
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
}
.logo span{
    color: red;
}
.menu a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}
.menu a:first-child{
    background: red;
    color: white;
    border-radius: 8px;
}

#main{
    width: 100%;
    min-height: 100vh;
}
.top{
    width: 100%;
    min-height: 60vh;
    background-image: url(c1.jpg);
    background-size: cover;
    background-position: top;
}
.top .overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.295);
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 10vh;
    color: white;
    bottom: 5%;
}
.text h1{
    font-weight: 600;
    font-size: 4vw;
}
.text .image{
    background-image: url();
    background-size: cover;
    background-position: center;
    height: 250px;
    width:220px;
}
#rtext{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}
.rtext p{
    font-size: 35px; 
}
.bottom{
    display: flex;
    width: 100%;
    min-height: 40vh;
}
.b1{
    width: 150%;
    min-height: inherit;
    background-image: url(c2.jpg);
    background-size: cover;
    background-position: center;
}
.b1 h1{
    text-align: center;
    align-items: center;
    padding: 30px;
    color: white;
}
.b1 p{
    color: white;
    text-align: bottom;
    padding: 15px;
}
.b2{
    width: 100%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}
.b2 .up{
    width: 100%;
    min-height: 40vh;
    background-image: url(c3.jpg);
    background-size: cover;
    background-position: center;
}
.b2 .up h1{
    text-align: center;
    padding: 30px;
    counter-reset: white;
}
.b2 .up p{
    color: white;
    text-align: center;
    padding: 15px;
}
.b2 .down{
    width: 100%;
    min-height: 40vh;
    background-image: url(c4.jpg);
    background-size: cover;
    background-position: center;
}
.b2 ,down .overlay{
    position: relative;
    text-align: center;
    color: white;
    width: 200%;
    min-height: 20vh;
    background-color: rgba(255, 255, 255, 0.344);
}
.b3{
    width: 100%;
    min-height: inherit;
    background-image: url(c7.jpg);
    background-size: cover;
    background-position: center;
}
.b3 .overlay{
    justify-content: left;
    position: relative;
    margin-left: 30%;
    color: white;
    width: 50%;
    height: 100%;
    padding: 4vh 3vh;
}
.b3 .overlay p{
    padding: 1.2vh;
    text-align: left;
    width: 100%;
    height: 70px;
    color: whitesmoke;
    font-size: large;
    display: flex;
    justify-content: left;
    align-items: left;
}

@media(max-width: 700px){
    .rtext{
        flex-direction: column;
    }
    .b3 .overlay{
        width: 100%;
        margin-left: initial;
    }
}

@media(max-width: 500px){
    .text{
        flex-direction: column;
        align-items: flex-start;
    }
    .text h1{
        font-size: 5vh;
    }
    .text .image{
        height: 200px;
        width: 140px;
        margin-top: 20px;
    }
    .rtext{
        flex-direction: column;
        align-items: flex-start;
    }
    .rtext p{
        margin-top: 10px;
    }
    .icons{
        margin-top: 10px;
    }
    .bottom{
        flex-direction: column;
        align-items: flex-start;
    }
    .b1{
        width: 100%;
        min-height: 30vh;
    }
    .b2{
        width: 100%;
    }
    .b2 up{
        min-height: 30vh;
    }
    .b3{
        width: 100%;
        min-height: 30vh;
        background-position: left;
    }
}